.headerblock {
    background-color: rgba(150, 0, 196, 0.884);
    width: 100%;
    height: 97px;
    left: 0px;
    top: -1px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.logo {
    position: absolute;
    width: 120px;
    height: 80px;
    left: 15.76px;
    top: 20.29px;
    transform: rotate(0.8deg);
    
}

.gamestore{
    position: absolute;
    width: 86px;
    height: 58px;
    left: 128.76px;
    top: 17.29px;    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 40px;
    line-height: 0px;
}

.searchInput {
    position: absolute;
    width: 503px;
    height: 58px;
    left: 700px;
    top: 19px;
    vertical-align: middle;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    border-radius: 24px;
    padding-left: 30px;
}

.search {
    position: absolute;
    width: 147px;   
    height: 64px;
    left: 1250px;
    top: 19px;

    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(170, 110, 170);
    color: rgba(0, 0, 0, 0.856);
}

.navBar {
    display: inline-block;
    width: 20%;
    height: 934px;
    margin-left: 50px;
    border-right: 5px solid rgba(150, 0, 196, 0.705);
}

.menu {
    padding: 40px;
}

.korolevska-bitva {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 170px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 20px;

    color: #000000;
}

.otkruruy-mir {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 299px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 80px;

    color: #000000;
}

.arkada{
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 426px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 180px;

    color: #000000;
}

.pisochnica {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 548px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 145px;

    color: #000000;
}

.gonka{
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 674px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 210px;

    color: #000000;
}

.prodactsBlock {
    display: inline-block;
    width: 79%;
}

.productsItem {
    position: absolute;
    width: 215px;
    height: 240px;
    left: 520px;
    top: 160px;
    border-radius: 10px;

    background-color: rgba(112, 46, 122, 0.77);
}

.productImg {
    position: absolute;
    width: 65%;
    height: 175px;
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 5%;
}

.priductTitke  {
    width: 145px;
    height: 36px;
    
    padding-top: 75%;
    margin-left: 15%;

    font-size: 30px;

    color: #080707;
}