.headerblock {
    background-color: rgba(150, 0, 196, 0.884);
    width: 1440px;
    height: 97px;
    left: 0px;
    top: -1px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.logo {
    position: absolute;
    width: 86px;
    height: 58px;
    left: 28.76px;
    top: 28.29px;
    
    transform:rgba(150, 0, 196, 0.884);
}

.gamestore{
    position: absolute;
    width: 86px;
    height: 58px;
    left: 128.76px;
    top: 17.29px;    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 40px;
    line-height: 0px;
}

.searchInput {
    position: absolute;
    width: 503px;
    height: 58px;
    left: 468px;
    top: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    border-radius: 24px;
}

.search {
    position: absolute;
    width: 147px;
    height: 58px;
    left: 1011px;
    top: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    border-radius: 25px;
}