.headerblock {
    background-color: rgba(150, 0, 196, 0.884);
    width: 100%;
    height: 97px;
    left: 0px;
    top: -1px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


.logo {
    position: absolute;
    width: 120px;
    height: 80px;
    left: 15.76px;
    top: 20.29px;
    transform: rotate(0.8deg);
    
}

.gamestore{
    position: absolute;
    width: 86px;
    height: 58px;
    left: 128.76px;
    top: 17.29px;    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 50;
    font-size: 40px;
    line-height: 0px;
}

.searchInput {
    position: absolute;
    width: 503px;
    height: 58px;
    left: 700px;
    top: 19px;
    vertical-align: middle;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    border-radius: 24px;
    padding-left: 30px;
}

.search {
    position: absolute;
    width: 147px;   
    height: 64px;
    left: 1250px;
    top: 19px;

    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(170, 110, 170);
    color: rgba(0, 0, 0, 0.856);
}

.navBar {
    display: inline-block;
    width: 20%;
    margin-left: 50px;
    border-right: 5px solid rgba(150, 0, 196, 0.705);
    background-color: blueviolet;
}

.menu {
    display: inline-block;
    
    padding: 40px;
}

.korolevska-bitva {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 170px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 20px;

    color: #000000;
}

.otkruruy-mir {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 299px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 80px;

    color: #000000;
}

.arkada{
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 426px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 180px;

    color: #000000;
}

.pisochnica {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 548px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 145px;

    color: #000000;
}

.gonka{
    position: absolute;
    width: 320px;
    height: 60px;
    left: 30px;
    top: 674px;
    margin-top: 45px;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    border-radius: 16px;
    background-color: rgb(170, 110, 170);
    padding-right: 210px;

    color: #000000;
}

.prodactsBlock {
    display: inline-block;
    width: 65%;
}

.prodactsItem {
    width: 18%;
    height: 270px;
    display: inline-block;
    border: 1px solid rgba(112, 46, 122, 0.77);
    background: rgba(112, 46, 122, 0.77);
    border-radius: 10px;
}

.items {
    background-color: rgb(218, 238, 238);
}

.prodactsImg {
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
}

.priductTitle {
    text-align: center;
    color: white;

    font-weight: 800;
    font-size: 20px;
    line-height: 0px;
    
}